header {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
background-color: rgb(244 , 240 , 235);
  margin-bottom: 20px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 220px;
  max-width: 2000px;
  margin: auto;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

img{
// modifier la couleur en noir d un image png
  filter: invert(1);
  height: 40px;
}

nav{
  margin-right: 20px;
}

.name {
  margin: 20px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

a {
  font-size:  20px;
  margin: 0 50px 0 10px;
  color: #050505;
  text-decoration: none;
}

.active {
  color: #0073ff;
}


@media screen and (max-width: 735px) {

  nav{
    margin-right: 20px;
  }
  a{
    margin-right: 20px;
  }
}
