<footer>
  <ul>
    <li>
      <p>Auto-entreprise Siret: XXXXXXXXXXX</p>
    </li>
    <li><i class="fas fa-phone"></i> 06 16 25 77 49</li>
    <li><a href="mailto:devi.phoolan@laposte.net"><i class="fas fa-envelope"></i> devi.phoolan@laposte.net</a></li>
    <!-- <li class="external-links">
      <a class="github-link" href="https://github.com/yusef-boulam" aria-label="GitHub">
        <i class="fa fa-github"></i>
      </a>
      <a class="linkedin-link" href="https://www.linkedin.com/in/yusef-boulam/" aria-label="LinkedIn">
        <i class="fa fa-linkedin"></i>
      </a>
    </li> -->
    <li><i class="fas fa-home"></i> Espenel</li>
  </ul>
</footer>