.container-image{
margin: auto;
  margin-top: 100px;
  display: flex;
 width: 95%;
 justify-content: space-between;
 flex-wrap: wrap;
align-items: center;
}

img{
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
