

* {
  font-family: Roboto, Helvetica, sans-serif;

}



.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}


body{
  // CENTRER LE BODY
  height: 100%;
  padding: 0;
  background-color: rgb(244 , 240 , 235);
  max-width: 3000px;
  margin: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
